<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cells.companyapp"
    android:versionCode="4"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取WI-FI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cells.companyapp.view.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cells.companyapp.view.MainActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.GuideScreenActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.CompanyInfoActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.CompanyLoginActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.PersonalInfoActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.PersonalLoginActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.PersonalRegistActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.EditPersonalInfoActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.YellowPageInfoActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.SearchYellowPageActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.LocationActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.AgreementActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.CultrueInfoActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.CommentActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.VideoInfoActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.CollectionActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.GalleryPictureActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.GalleryListActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.OfflineActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.VideoDownloadActivity" >
        </activity>
        <activity android:name="com.cells.companyapp.view.NewsInfoActivity" >
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zoeHZfcK2j3269GC791vl8NN064DncHq" />
    </application>

</manifest>